{%extends "cuentas/base.html"%} {%block content%}
<div class="w-screen h-screen flex flex-col items-center">
  <form
    method="post"
    class="flex flex-col items-center space-y-2.5 bg-white border-solid border-2 w-2/12 border-zinc-200 shadow-2xl text-zinc-700 rounded-lg p-5"
  >
    {% csrf_token %} {% csrf_token %} {% for field in form %}
    <div class="form-group w-full">
      <label class="input input-bordered flex items-center gap-2 bg-white">
        {{ field.label_tag }} {{ field }}</label
      >
      <div class="text-danger">{{ field.errors }}</div>
    </div>
    {% endfor %}
    <span class="flex flex-row space-x-2 items-center justify-center w-full">
      <button type="submit" class="btn btn-primary">Generar PDF</button>
      <a href="{%url 'cuentas:export_excel'%}" class="btn btn-success"
        >Generar Excel</a
      >
    </span>
  </form>
</div>
{%endblock%}
